<h1>Admin Homepage</h1>

<%= link_to "Collections", admin_collections_path %><br>
<%= link_to "Colors", admin_colors_path %><br>
<%= link_to "Coupons", admin_coupons_path %><br>
<%= link_to "Discounts", admin_discounts_path %><br>
<%= link_to "Orders", admin_orders_path %><br>
<%= link_to "Products", admin_products_path %><br>
<%= link_to "Returns", admin_returns_path %><br>
<%= link_to "Upload Files", admin_file_uploads_path %>

